@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Staatliches&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Jersey+15&display=swap");
:root {
    --bg-color: #030F14;
    --text-color: #CFDBE0;
    --footer: #455781;
    --pink: #B721DE;
    --black: #212121;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    transition: background-color 1s ease;
}

main {
    margin: 0 auto;
}

main .content {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

main .background-img {
    transform: translateY(0);
    position: absolute; 
    bottom: 0; 
    left: 10%; 
    width: clamp(500px, 20vw, 600px);
    z-index: 1;
}

.container {
    overflow-y: scroll;
    height: 100svh;
    width: 100%;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#welcome h1 {
    font-size: 31rem;
    font-family: "Jersey 15", serif;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    z-index: 0;
    right: 0;
    opacity: .5;
    overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}

p {
    font-size: 1.1rem;
    padding: 1rem 0;
}

.links {
    display: flex;
    gap: .5rem;
    flex-direction: row;
    flex-wrap: wrap;
}

.download {
    background-color: var(--pink);
    color: white;
    padding: .8rem;
    border-radius: 1rem;
    text-decoration: none;
    white-space: nowrap;
}

.color-black {
    background-color: #030F14;
}

.color-avl {
    background-color: #6A0025;
}

.color-struikel {
    background-color: #C2B87B;
}

.project {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 5rem;
}

#welcome p {
    font-family: "Jersey 15", serif;
    position: absolute;
    bottom: 5rem;
    z-index: 0;
    right: 5rem;
    width: 50%;
    color: var(--text-color);
    font-size: 2rem;
}

#welcome p span {
    color: var(--pink);
    font-weight: bold;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 83vw;
    margin: 0 auto;
    scroll-snap-align: start;
}

section#welcome {   
    background-image: linear-gradient(to bottom right, #53CEED, #008BAB);
    background-size: 400% 400%;
    width: 100%;
    animation: gradient 15s ease infinite;
}

.readMore {
    background-color: var(--pink);
    padding: .4rem;
    border-radius: .4rem;
    font-size: 1rem;
    font-weight: bold;
}

.tags {
    display: flex;
    justify-content: start;
    margin-top: .5rem;
}

.tag {
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding: 5px 20px;
    color: white;
    font-size: .7rem;
    font-weight: bold;
    overflow: hidden;
}

.tag:not(:first-child) {
    margin: 0 0 0 -.8rem;
}

.tag::before {
    content: '';
    position: absolute;
    top: 0;
    left: 8px;
    right: 8px;
    bottom: 0;
    background-color: #5A0B6F;
    border: 2px solid #B721DE;
    z-index: -1;
    transform: skew(-20deg);
}

.tag span {
    display: block;
}

.tag.ui::before {
    background-color: #008BAB;
    border: 2px solid #53CEED;
}

.tag.school::before {
    background-color: #006400;
    border: 2px solid #1db954;
}

.tag.persoonlijk::before {
    background-color: #800000;
    border: 2px solid #FF0000;
}

.tag.opdracht::before {
    background-color: #c9970e;
    border: 2px solid #FFFF00;
}

.tag.werk::before {
    background-color: #0E3386;
    border: 2px solid #1E90FF;
}

.tag.development::before {
    background-color: #6d4b0c;
    border: 2px solid #ff9100;
}

.tag.video::before {
    background-color: #270930;
    border: 2px solid #5A0B6F;
}

.dot {
    color: #B721DE;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.gridText {
    grid-row: span 2 / span 2;
}

.gridPhoto {
    grid-row: span 2 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridPhoto img {
    width: 100%;
    border-radius: 1rem;
}

main img {
    height: auto; 
}

.marquee {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    font-size: 3rem;
}

.marqueeItem {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: marquee-right;
    animation-timing-function: linear;
    padding: 5px 15px 5px 15px;
}

.marqueeItem span {
    color: var(--pink);
}

.marquee:nth-of-type(2) .marqueeItem {
    animation-name: marquee-left;
}

.marquee:hover .marqueeItem {
    animation-play-state: paused;
}

@keyframes marquee-right {
    from {
        transform: translateX( 0% );
    }
    to {
        transform: translateX( -100% );
    }
}

@keyframes marquee-left {
    from {
        transform: translateX( -100% );
    }
    to {
        transform: translateX( 0% );
    }
}
    
button {
    margin: 1rem;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--pink);
    color: var(--text-color);
    border: transparent;
    border-radius: 5px;
}

.navBig .icon {
    float: right;
    display: block;
}

#contactInfo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

#contactInfo a {
    text-decoration: none;
    color: white;
}

#contactInfo a:hover {
    text-decoration: underline;
    color: var(--pink);
}

#contactInfo i {
    padding: 1rem;
}

#socials i {
    background-color: var(--pink);
    color: white;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 2rem;
}

form.visible {
    display: block;
}

/* Mobile screens */
@media screen and (max-width: 1281px) {
    main .background-img {
        transform: translate(-20%, 0%);
        max-width: 200%;
        position: absolute;
        bottom: 0;
        z-index: 1;
    }

    .project {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-template-rows: repeat(2, 1fr);
        gap: 1rem;
    }

    #avl h1,
    #struikel h1,
    #merkelijkheid h1 {
        overflow-wrap: break-word;
    }

    header {
        position: fixed;
        width: 100%;
        top: 0;
        overflow: hidden;
        z-index: 99;
    }
    
    .logo {
        display: none;
    }

    header ul {
        flex-direction: column;
        position: relative;
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }
    
    .navBig a:not(:first-child) {
        display: none;
    }

    .navBig a.icon {
        float: right;
        display: block;
    }
    
    header #nav {
        margin: 0 auto;
        padding: 20px;
    }

    .navBig.responsive {
        background: rgba(3, 15, 20, 90%);
        height: 100vh;
    }

    .navBig.responsive .side {
        margin: 0;
        padding: 0;
        height: 100vh;
        position: absolute;
        width: 60px;
        right: 20px;
    }
    
    .navBig a {
        float: none;
        display: none;
        font-size: 2rem;
        text-transform: uppercase;
        color: #f2f2f2;
        text-align: left;
        padding: 14px 16px;
        text-decoration: none;
    }

    .navBig.responsive a {
        display: block;
        font-weight: bold;
        margin-bottom: .7rem;
    }

    .navBig.responsive a#logo {
        display: none;
    }

    .navBig a.icon {
        z-index: 2;
        display: flex;
        position: inherit;
        right: 0;
        top: 0;
        padding: 1rem;
    }

    .navBig a.hover {
        color: var(--pink);
    }
      
    .navBig a.active {
        color: var(--pink);
    }

    #welcome p {
        width: 100vw;
        right: 0;
        bottom: 0;
        z-index: 2;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
        padding: 2rem;
    }

    #contactInfo {
        flex-wrap: wrap;
        /* flex-direction: column; */
    }

    .navBig.responsive form {
        display: block;
    }

    form {
        display: none;
    }
}

/* Big and Desktop screens */
@media (min-width: 1281px) {
    .side {
        display: none;
    }
    
    header {
        position: fixed;
        width: 100%;
        top: 0;
        overflow: hidden;
        z-index: 99;
    }

    .logo {
        display: block;
        mix-blend-mode: color;
    }

    header ul {   
        flex-direction: row;
        position: relative;
        list-style: none;
        display: flex;
        gap: 50px;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    header #nav {
        margin: 0 auto;
        padding: 20px;
    }
    
    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        color: white;
    }
    
    header li {
        text-transform: uppercase;
    }
    
    header ul li a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        transition: color 0.3s ease;
    }
    
    header ul li a:hover {
        color: var(--pink);
    }
      
    header ul li a.active {
        color: var(--pink);
        font-weight: bold;
    }

    .background-img {
        display: block;
    }

    .navBig .icon {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        position: static;
        background-color: transparent;
        width: auto;
    }

    .nav-links li {
        margin-left: 20px;
    }

    .nav-links.show {
        display: flex;
    }
}