@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Staatliches&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
    --scheme-color: #1A2744;
    --scheme-color-orange: #FB770D;
    --text-color: #fafafa;
    --footer: #455781;
    --blue: #45ADFF;
    --black: #212121;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--scheme-color);
    scroll-behavior: smooth;
}

main {
    width: 83vw;
    margin: 0 auto;
    color: var(--text-color);
}

#me {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

#vaardigheden,
#werk,
#ervaringen,
#opleidingen,
#contact {
    height: 100%;
    padding: 4rem 0;
}

#aboutme {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 4rem 0;
}

#personal {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

#ervaringen p,
#opleidingen p,
#contact p {
    font-size: clamp(0.5rem, 8vw, 1.2rem);
    font-style: italic;
}

#ervaringen h3,
#opleidingen h2,
#contact h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: clamp(1.3rem, 8vw, 1.2rem);
}

#photo img {
    width: 60%;
    border-radius: 30px;
}

#info {
    width: 100%;
    margin-top: 0;
}

span {
    color: var(--blue);
}

#projecten {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax( min(100%, 310px), 1fr));
    gap: 20px;
    max-width: 80em;
    margin: 0 auto;
}

.project {
    position: relative;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.project .text {
    position: absolute;
}

#projecten h1 {
    font-size: 3rem;
}

#projecten div {
    flex: 40%;
    border-radius: 30px;
}

.project img {
    border-radius: 30px;
    width: 100%;
    filter: brightness(30%);
    transition: transform .2s, filter .2s;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

h1 {
    font-family: "Staatliches", cursive;
    font-size: clamp(3.5rem, 10vw, 2rem);
    margin-bottom: 1rem;
}

h2 {
    font-family: "Mitr", sans-serif;
}

p {
    font-size: clamp(1.5rem, 8vw, 1.2rem);
    margin-bottom: 1rem;
}

li {
    list-style: none;
    margin: 1rem 0;
}

.btn {
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: var(--scheme-color-orange);
    border-radius: 1em 1em 1em 1em;
    padding: .2rem;
    border: none;
}

.btnB {
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: var(--scheme-color);
    border-radius: 1em 1em 1em 1em;
    padding: .2rem;
    border: none;
    display: none;
}

.wrap {
    display: none;
}

.wrap img {
    height: 40px;
    margin: 0 auto;
    line-height: 60px;
    position: absolute;
    bottom: 20px;
}

.bounce {
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation: bounce 3.6s ease infinite;
    transform-origin: 50% 50%;
}

.icon {
    display: flex;
    align-items: center;
}

.icon span {
    margin: 0 .5rem 0 0;
}

h3.icon:hover {
    color: var(--blue);
    cursor: pointer;
}

@keyframes bounce {
    0% {
        -webkit-transform: translate(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(20px);
        opacity: 0;
    }
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 40px;
    margin: .5rem 0;
}

progress[value]::-webkit-progress-bar {
    background-color: var(--text-color);
    border-radius: 30px;
}

progress[value]::-webkit-progress-value {
    background-color: var(--blue);
    border-radius: 30px;
}

footer {
    background-color: var(--footer);
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    flex-direction: column;
    text-align: center;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer li {
    list-style-type: none;
    width: 2em;
    margin: 10px;
}

footer p {
    font-size: 1.4rem;
}

footer svg {
    fill: var(--text-color);
}

#links {
    width: 83vw;
    margin: 0 auto;
}

@media (hover: hover) and (pointer: fine) {
    .project:hover>img {
        transform: scale(1.05) rotate(2deg);
        filter: brightness(50%);
    }
    .btn:hover {
        background-color: #FFA45B;
        cursor: pointer;
    }
    .btnB:hover {
        background-color: var(--blue);
        cursor: pointer;
    }
    .btnL:hover {
        background-color: #2ecc71;
        cursor: pointer;
    }
    .github:hover {
        fill: #333;
    }
    .linkedin:hover {
        fill: #0077b5;
    }
    .instagram:hover {
        fill: #e1306c;
    }
}

@media all and (max-width: 500px) {
    #photo img {
        width: 100%;
        border-radius: 30px;
    }
}

@media only screen and (min-width: 1110px) {
    body {
        text-align: start;
    }
    main {
        width: 50vw;
        margin: 0 auto;
    }
    #info {
        width: 100%;
        margin-top: 0;
    }
    #personal {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 2rem;
        width: 100%;
    }
    .wrap img {
        height: 40px;
        margin: 0 auto;
        line-height: 60px;
        position: absolute;
        bottom: 40px;
    }
    #photo img {
        width: 100%;
        border-radius: 30px;
        max-width: 1080px;
    }
    .wrap {
        display: flex;
        height: 100%;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
    #me {
        height: 100vh;
    }
    #links {
        width: 50vw;
        margin: 0 auto;
    }
}